<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>简介</h2>
<div class="summary">
  <p>
    A results-driven, customer-focused,
    articulate and analytical Senior DevOps who can think “out of the box”.
    Strong in dev and integration problem-solving skills. Expert in Java, Python, PHP,
    and SQL with database analysis and design.
    Skilled in developing business plans, requirements specifications, user documentation,
    and architectural systems research.
 </p>
</div><!--//summary-->
</section><!--//section-->
