<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作经历</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java高级软件开发工程师兼项目经理</h3>
                            <div class="time">2014.05 - now</div>
                        </div><!--//upper-row-->
                        <div class="company">法莱贝克(大连)软件有限公司</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            公司内Java相关项目主要业务:澳洲丰田,澳洲百货等等.
                        </p>
                        <p>
                            负责公司内Java团队的管理,参与Java相关项目的开发和维护工作.与客户直接沟通需求,从评估到交付.
                        </p>
                        <blockquote>
                        <h5 class="">项目经历</h5>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Zero Agency</b> - http://agencyzero.com/</p>
                                <p>CMS产品,可用于客户产品展示,内容发布,电子商务以及社交.</p>
                                <p>主要负责付费用户的需求分析和开发,指导用户安装和配置产品.</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>SpringMVC</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>MyToyota</b></p>
                                <p>澳洲手机丰田App</p>
                                <p>负责App框架的搭建和开发</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>AngularJS/Ionic/NodeJS</li>
                                    <li>Jhipster/SpringBoot</li>
                                    <li>Hibernate</li>
                                    <li>MySQL/Oracle</li>
                                    <li>AWS/Axure</li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Myer</b> - http://myer.com.au/</p>
                                <p>负责中间件开发(ESB)</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>MuleESB</li>
                                    <li>Salesfoce</li>
                                </ul>
                            </li>
                        </ul>
                        
                    </blockquote>
                    </div><!--//details-->
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">项目技术经理</h3>
                            <div class="time">2011.05 - 2014.05</div>
                        </div><!--//upper-row-->
                        <div class="company">大连花旗软件EBT部门</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            负责花旗网上银行贷款和转账模块的开发和维护工作,主要目标区域东南亚.
                        </p>
                        <p>
                            负责解决项目内遇到的技术问题,参与新系统框架的研发和实验,参与本地测试工具的编写例如SOAP消息接受和响应模拟器.
                        </p>
                        <blockquote>
                        <h5 class="">项目经历</h5>
                        <ul>
                            <li> <p class="color: darkblue;"><b>网上银行贷款业务</b></p>
                                <p>主要负责对上级提出的需求进行分析,提出改进计划,并指导团队开发.</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2</li>
                                    <li>SpringFlow</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>网上银行转账业务</b></p>
                                <p>主要负责对上级提出的需求进行分析,提出改进计划,并指导团队开发.</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2</li>
                                    <li>SpringFlow</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                    </blockquote>
                    </div><!--//details-->
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java软件开发工程师</h3>
                            <div class="time">2003.05 - 2011.05</div>
                        </div><!--//upper-row-->
                        <div class="company">大连华信软件有限公司</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            欧美相关业务
                        </p>
                        <p>
                            负责低层模块的开发,解决系统存在的故障.
                        </p>
                        <blockquote>
                        <h5 class="">Project Experiences</h5>
                        <ul>
                            <li> <p class="color: darkblue;"><b>GCMS</b></p>
                                <p>大连GE研发中心项目,印度中央银行</p>
                                <p>负责低层模块的开发和实现,解决系统故障,跟踪系统需求以及发布.</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2/Spring/Hibernate</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>大连社区管理系统</b></p>
                                <p>大连市政府项目</p>
                                <p>负责低层模块的开发和实现,解决系统故障,跟踪系统需求以及发布.</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2/Spring/Hibernate</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>IBM数据挖掘项目</b></p>
                                <p>针对大量Excel开发数据挖掘工具</p>
                                <p>负责工具的开发</p>
                                <p><b>使用技术</b></p>
                                <ul>
                                    <li>VB</li>
                                    <li>Excel</li>
                                </ul>
                            </li>
                        </ul>
                        
                    </blockquote>
                    </div><!--//details-->
                </div>

            </section><!--//section-->
