<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Java Development Engineer & Project Manager</h3>
                            <div class="time">2014.05 - now</div>
                        </div><!--//upper-row-->
                        <div class="company">Fabric (Dalian) Software Limited Company</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Java-related core business: Toyota Australia, Myer, etc.
                        </p>
                        <p>
                            Responsible for Java team management, participate in the Java-related projects' develoment and maintainance, communicate with customer to collect requirements, assess requirements, planning and scheduling through delivery.
                        </p>
                        <blockquote>
                        <h5 class="">Project Experience</h5>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Zero Agency</b> - http://agencyzero.com/</p>
                                <p>CMS: product display, content distribution, E-Commerce and social  contact</p>
                                <p>Mainly responsible for pay-user requirements analysis and development, guide installation and configuration</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>SpringMVC</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>MyToyota</b></p>
                                <p>Toyota Australia Mobile App</p>
                                <p>Building the framework and development</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>AngularJS/Ionic/NodeJS</li>
                                    <li>Jhipster/SpringBoot</li>
                                    <li>Hibernate</li>
                                    <li>MySQL/Oracle</li>
                                    <li>AWS/Axure</li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Myer</b> - http://myer.com.au/</p>
                                <p>Middleware development(ESB)</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>MuleESB</li>
                                    <li>Salesfoce</li>
                                </ul>
                            </li>
                        </ul>
                        
                    </blockquote>
                    </div><!--//details-->
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Tech Manager</h3>
                            <div class="time">2011.05 - 2014.05</div>
                        </div><!--//upper-row-->
                        <div class="company">EBT Department of Citi Dalian</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Responsible for Citi Online Banking Loan and Transfer transaction moudules development and maintainance, for Southeast Asia's  customers.
                        </p>
                        <p>
                            Solve the deep tech-skill issues. 
                            Develop the new architecture. 
                            Develop the test tools, such as, SOAP message receive and response simulator.
                        </p>
                        <blockquote>
                        <h5 class="">Project Experience</h5>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Online Banking Loan Transaction</b></p>
                                <p>Requirement analysis, raise enhancement plan, guide team development.</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2</li>
                                    <li>SpringFlow</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Online Banking Transfer Transaction</b></p>
                                <p>Requirements analysis, raise enhancement plan, guide team development.</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2</li>
                                    <li>SpringFlow</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                    </blockquote>
                    </div><!--//details-->
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java Software Engineer</h3>
                            <div class="time">2003.05 - 2011.05</div>
                        </div><!--//upper-row-->
                        <div class="company">DHC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            European and American Business
                        </p>
                        <p>
                            Lower-level business modules development, solving the system defects.
                        </p>
                        <blockquote>
                        <h5 class="">Project Experiences</h5>
                        <ul>
                            <li> <p class="color: darkblue;"><b>GCMS</b></p>
                                <p>GE R&D Project, Central Bank of India</p>
                                <p>Lower-level business modules development and implement, solving the system defects, track the requiment and project delivery.</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2/Spring/Hibernate</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>Community Management of Dalian</b></p>
                                <p>Dalian Government Project</p>
                                <p>Lower-level business modules development and implement, solving the system defects, track the requirement and project delivery.</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>Servlet/JSP</li>
                                    <li>Struts2/Spring/Hibernate</li>
                                    <li>Oracle</li>
                                    <li>Linux</li>
                                </ul>
                            </li>

                        </ul>
                        <ul>
                            <li> <p class="color: darkblue;"><b>IBM Data Mining</b></p>
                                <p>Develop Data Mining Tool against mass Excel</p>
                                <p>Tool development</p>
                                <p><b>Technology</b></p>
                                <ul>
                                    <li>VB</li>
                                    <li>Excel</li>
                                </ul>
                            </li>
                        </ul>
                        
                    </blockquote>
                    </div><!--//details-->
                </div>

            </section><!--//section-->
