<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SE DevOps</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Fabricgroup, DaLian</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          Multi-application support, ehancemnet and bug fix.
                          New application desgin and implementation.
                          From server via backend to frontend and delivery.
                        </p>
                    </div><!--//details-->
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tech Leader</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">City Bank, DaLian</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                        Engaged in global application architecture desgin and implementation,
                        through a unified application to adapt to business of different areas and
                        reducing the support difficulty regionally.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Java Developer</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">City Bank, DaLian</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          Engaged in application reconstruction, expand and enhance existing business interfaces.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Java Developer</h3>
                            <div class="time">2008 - 2011</div>
                        </div>
                        <div class="company">DHC, DaLian</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          Engaged in the most basic enterprise application development and the bussiness is mainly for the finacial system.
                          Preiod in these years also learned python language mainly used in data analytics.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
