<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
  <div class="intro">
      <p>Below is the list of all my experienced projects.</p>
  </div><!--//intro-->

  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">myToyota</a></span> - <span class="project-tagline">
        Australia toyota mobile-phone project.
      </span>
  </div>
  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">Taipan</a></span> - <span class="project-tagline">
        Australia toyota interal application use to manage vendor informations and shipment .
      </span>
  </div>
  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">Myer ESB</a></span> - <span class="project-tagline">
        A communicator between salesforce and internal applications.
      </span>
  </div><!--//item-->

  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">Zero CMS</a></span> - <span class="project-tagline">
        A CMS product what provide customized website like wordpress.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">City E-Bank</a></span> -
      <span class="project-tagline">
        Southeast Asia E-bank system.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">IBM-DM</a></span> - <span class="project-tagline">
        A special python scritps use for datae mining and report.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">Panasonic-ERP</a></span> - <span class="project-tagline">
        ERP application used in Panasonic factory.
      </span>
  </div><!--//item-->
  <div class="item">
      <span class="project-title"><a href="javascript:void(0)">GCMS</a></span> - <span class="project-tagline">
        CMS application used in India Central Bank to manage credit customers, desgin activity and policy workflow.
      </span>
  </div><!--//item-->
</section><!--//section-->
