/* Project Elements */
.project-outer {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 0 10px;
}
.project-img img {
  width: 100%;
}
h3.project-headlines {
  margin: 5px 0;
  font-size: 20px;
}

span.tags {
  font-size: 10px;
  border-bottom: 1px #888 dotted;
  margin: 0 5px;
}
span.tags:first-child {
  margin-left: 0;
}
span.tags:last-child {
  margin-right: 0;
}
.project-footer {
  clear: both;
  display: inline-block;
  width: 100%;
}
.project-footer .project-link {
  display: inline-block;
  position: relative;
  float: left;
  text-decoration: none;
}
.project-footer .project-timeline {
  display: inline-block;
  position: relative;
  float: right;
  font-size: 13px;
  font-style: italic;
}
.project-inner > a {
  display: block;
}
.project-img {
  width: 230px;
  height: 200px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/** Project Tag Filters **/
.tag-group {
  margin: 0 0 25px 0;
}
span.tag-cloud {
  margin: 0 2px;
  cursor: pointer;
  font-size: 75%;
  padding: .2em .6em .3em;
  font-weight: 700;
  display: inline;
}
.tag-cloud.active {
  background: #ccc;
}
.project-item.not-show {
  display: none;
}
a.project-detail:hover {
  text-decoration: none;
}
a.project-detail:hover h3 {
  color: #62A253;
}
div.col-sm-2 {
  margin-top: 100px;
  font-size: 11px;
  color: #666;


}
ul.affix {
  position: fixed;
  top: 100px;
}
ul.affix-top {
  position: static;
}
ul.affix-bottom {
  position: absolute;
}

/* First level of nav */
.sidenav {
font-size: 16px;
background-color: #f7f5fa;
}

/* All levels of nav */
.sidebar .nav > li > a {

color: #716b7a;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
text-decoration: none;
background-color: #e5e3e9;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
font-weight: bold;
color: #563d7c;
background-color: transparent;
}
/* Nav: second level */
.sidebar .nav .nav {
display: none;
}
.sidebar .nav > li.active .nav {
display:block;
}
.sidebar .nav .nav {
margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  margin-left: 30px;
  padding: 0px;
}
#markdown-toc{
    display: none
}
